<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('partials/navbar') %>
        <div class="row">
            <div class="col-12">
                <h2>Buat Lelang</h2>
                <form action="" class="form" id="add-product-form">
                    <div class="form-group">
                        <label for="name">Nama Produk</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="text" class="form-control" name="image" id="image">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="multiplier">Kelipatan penawaran</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Rp</span>
                            </div>
                            <input type="text" class="form-control" name="multiplier" id="multiplier">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="end_date">Batas akhir lelang</label>
                        <input type="text" autocomplete="off" class="form-control" name="end_date" id="end_date" placeholder="Format: YYYY-MM-DD hh:mm:ss">
                    </div>
                    <button class="submit btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="js/checklogin.js"></script>
    <script src="js/add-product.js"></script>
</body>

</html>