<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('partials/navbar') %>
        <div class="row">
            <div class="col-12">
                <h2>Edit profile</h2>
                <form action="" class="form" id="edit-form">
                    <div class="form-group">
                        <label for="name">Nama</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <button class="submit btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="js/checklogin.js"></script>
    <script src="js/edit-profile.js"></script>
</body>

</html>