<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mx-auto border shadow-sm p-3 mt-2">
                <div id="message-success" class="alert alert-success d-none">
                    <p class="message">Registrasi berhasil, silahkan login di <a href="/">sini</a></p>
                </div>
                <div id="message-error" class="alert alert-danger d-none">
                    <p class="message"></p>
                </div>
                <form action="" id="form-login">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <p class="mt-2">Don't have an account? <a href="/register">sign up here</a></p>
                </form>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
    <script src="js/main.js"></script>
</body>
</html>